  <!-- 💳 Summary Cards -->
<div class="row text-left mb-4">
  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="text-muted">Total registros</h6>
        <h3 class="fw-bold"><%= balance_payments.count %></h3>
        <small class="text-muted" style="font-size: 0.75rem;">Para el periodo seleccionado</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="text-muted">Monto Total</h6>
        <h3 class="fw-bold"><%= number_to_currency(balance_payments.sum(&:amount)) %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="text-muted">Detalle por persona:</h6>
        <h3 class="fw-bold" style="font-size: 0.75rem;"><% balance_payments.group_by(&:person).each do |person, records| %>
        <div><%= person %>: <%= number_to_currency(records.sum(&:amount)) %></div>
      <% end %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="text-muted">Detalle por tipo:</h6>
        <h3 class="fw-bold" style="font-size: 1.3rem;">
          <% balance_payments.group_by(&:category).each do |category, records| %>
        <div><%= category.presence || "Sin categoría" %>: <%= number_to_currency(records.sum(&:amount)) %></div>
      <% end %>
        </h3>
      </div>
    </div>
  </div>
</div>