<!-- • ●-->

<div class="sidebar-custom">
  <button id="closeSidebar" class="btn btn-sm btn-light d-md-none mb-3" style="padding: 4px 8px; font-size: 1.2rem;">
  &#9776;
</button>


  <!-- User Avatar -->
<% if current_user %>
  <div class="user-section">
    <%= image_tag("avatars/#{current_user.setting&.avatar_filename || 'lentes.svg'}", class: "avatar-circle", alt: "User Avatar") %>

    <div class="user-info">
      <div class="user-name">
        <%= current_user.setting&.nombre.presence || current_user.email.split('@').first.titleize %>
      </div>
      <div style="font-size: 0.75rem;" class="user-email"><%= current_user.email %></div>
    </div>
  </div>
<% end %>

<div class="sidebar-divider"></div>


<div class="sidebar-links">
  <%= link_to dashboard_path, class: "sidebar-link #{'active' if current_page?(dashboard_path)}" do %>
    <%= image_tag "dashboard.svg", class: "sidebar-icon" %> Dashboard
  <% end %>

  <%= link_to transactions_path, class: "sidebar-link #{'active' if current_page?(transactions_path)}", data: { turbo: false } do %>
  <%= image_tag "Transacciones.svg", class: "sidebar-icon" %> Transacciones
<% end %>

  <%= link_to balance_payments_path, class: "sidebar-link #{'active' if current_page?(balance_payments_path)}" do %>
    <%= image_tag "Pagos.svg", class: "sidebar-icon" %> Pagos y reembolsos
  <% end %>

  <%= link_to categories_path, class: "sidebar-link #{'active' if current_page?(categories_path)}" do %>
    <%= image_tag "Categorias.svg", class: "sidebar-icon" %> Categorías
  <% end %>

  <%= link_to empresas_path, class: "sidebar-link #{'active' if current_page?(empresas_path)}" do %>
  <%= image_tag "Empresas.svg", class: "sidebar-icon" %> Empresas

  <% if highlight_empresas %>
    <span class="ms-2" style="color: red; font-size: 0.7rem;">●</span>
    <% else %>
    <span class="ms-2" style="color: green; font-size: 0.7rem;">●</span>
  <% end %>
<% end %>

  <%= link_to import_path, class: "sidebar-link #{'active' if current_page?(import_path)}" do %>
    <%= image_tag "Importar.svg", class: "sidebar-icon" %> Importar EDC
  <% end %>
  <%= link_to edit_settings_path, class: "sidebar-link #{'active' if current_page?(edit_settings_path)}" do %>
    <%= image_tag "Ajustes.svg", class: "sidebar-icon" %> Ajustes
  <% end %>
</div>


  <div class="sidebar-footer">
  <div style="font-size: 0.9rem; color: #555;">
    <strong>ExpenseBuddy.mx</strong><br>
    <%= link_to manual_path, class: "sidebar-link" do %>
  <%= image_tag "help.svg", class: "sidebar-icon" %> Ayuda / Manual
<% end %>

  </div>
  <br>
  <%= button_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class:'btn-custom-danger-sm' %>
</div>

</div>
